* {
  box-sizing: border-box;
  font-family: "Cormorant SC", serif;
}

.App {
  width: 100%;
}

main {
  width: 100%;
}

.mainName {
  font-family: "Great Vibes", cursive;
  padding: 1rem 1rem;
  font-size: 3.5rem;
  text-decoration: none;
  color: rgb(19, 80, 0);
}

.welcome {
  position: relative;
  /* max-width: 600px;  */
  /* justify-content: center; */
}


.welcome img {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.welcome figcaption {
  justify-content: center;
  text-align: center;
  position: relative;
  font-weight: bolder;
}

/* font for name on nav bar */
.mainServicePics figure {
  width: 100%;
  height: 1300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.docked figcaption {
  justify-content: center;
  text-align: center;
  position: relative;

}

.mainPic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  animation: main-load 1200ms ease-in;
}


.capImg {
  width: 100%;
  height: 500px;
  font-size: 56px;
  justify-content: center;
}

/*  */

.contactForm {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.contactMessage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5rem;

}

.projectItems {
  width: 200px;
  height: 200px;
  justify-content: center;
}

h1 {
  font-family: "Great Vibes", cursive;
}

/* nav bar size and styling */

/* Spacing and size of header */
.header {
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: rgba(238, 255, 254, 1);
  backdrop-filter: blur(5px);
  justify-content: space-between;
  display: flex;
  font-size: 1.7rem;
}

/* "about me" size and position */
.aboutMe {
  position: relative;
  padding-top: 5rem;
  padding-bottom: 10rem;
  background-color: rgba(238, 255, 254, 1);
}

.myInfo {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  color: #677a8e;
  justify-content: center;
}

.myInfo img {
  justify-content: center;
}

.serviceItems {
  justify-content: center;
  text-align: center;
}

.serviceText {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

/* box child/text size for contacts section */
.contacts {
  text-align: center;
}

.serviceContact {
  font-weight: bold;
  text-align: center;
  justify-content: center;
}

footer {
  padding: 10px;
  background-color: rgba(238, 255, 254, 1);
}

/* box resize(flex) when page size changes or is used on device with different display size */
@media  (min-width: 900px) {
  .myInfo,
  .mainServicePics figure,
  .welcome img,
  .contactForm,
  .contactMessage,
  nav {
    height: auto;
    display: flex;
    flex-direction: row;
  }
  
  .welcome figCaption {
    text-align: center;
    justify-content: center;
    bottom: 45%;
  }
}

@media  (max-width: 768px) {
  main,
  .mainServicePics,
  .welcome img,
  .capImg,
  .contactMessage
  nav {
    flex-wrap: wrap;
    flex-direction: column;
  }
  
  .welcome figCaption {
    text-align: center;
    position: absolute;
    bottom: 25%;
  }
  
  .capImg {
    justify-content: center;
    font-size: 32px;
    height: auto;
    margin-top: 50px;
  }
}

/* .container {
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2); 
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
} */